{% load static %}
<div class="modal" id="question_box">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="modal-title"></p>
            <button class="delete" aria-label="close" onclick="location.reload()"></button>
        </header>
        
        <section class="modal-card-body">
            <progress class="progress is-link" id="progress" value="45" max="100"></progress>
            
            <!-- 回答結果表示エリア -->
            <div class="answerdisplay">
                <div id="correct">
                    <p id="correct">あなたの答え</p>
                    <img id="correct" src="{% static 'images/correct.png' %}" alt="正解">
                </div>
                <div id="wrong">
                    <p id="wrong">あなたの答え</p>
                    <img id="wrong" src="{% static 'images/wrong.png' %}" alt="不正解">
                </div>
                <p id="answeris"></p>
            </div>
            
            <!-- 問題表示エリア -->
            <div id="question_section">
                <div id="imgesfield">
                    <img id="imgesfield-img" src="">
                </div>
                <div id="question_number">
                    <p>問</p>
                    <p id="count"></p>
                </div>
                <p id="questionsfiled"></p>
                <br>
                <p class="centered-text" id="description">
                    <span class="line"></span>解説<br>
                    <span class="line"></span>
                </p>
                <p id="descriptionsfield"></p>
            </div>
            <br>
        </section>
        
        <!-- 操作ボタンエリア -->
        <footer class="footer-button" id="fbutton">
            <p class="control">
                <button class="button" id="next">
                    <img id="controlimg" src="{% static 'images/next.png' %}" alt="次へ">
                </button>
            </p>
            <p class="control">
                <button class="button is-link" id="yes" onclick="check('o')">
                    <img id="controlimg" src="{% static 'images/correct.png' %}" alt="正解">
                </button>
            </p>
            <p class="control">
                <button class="button is-danger" id="no" onclick="check('x')">
                    <img id="controlimg" src="{% static 'images/wrong.png' %}" alt="不正解">
                </button>
            </p>
        </footer>
    </div>
</div>